html {
	height: 100%;
}

body {
	
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover ;
	
	
}

#txt {
	position: absolute; 
    width: 100%;  
    text-align: center;
	font-family: sans-serif;
	font-size: 100px;
	color: #ffffff;
	top: 40%;

}

#txt2 {
	position: relative; 
    
	font-family: sans-serif;
	font-size: 30px;
	color: #ffffff;
	top: 32%;
	

}

#txt3 {
	position: relative; 
	display: inline-block;
	text-align: center;   
	font-family: sans-serif;
	font-size: 30px;
	color: #ffffff;
	top: 37%;
	

}




.love h1 {
	font-family: sans-serif;
	font-size: 15px;
	opacity: 0.2;
	text-align: center;
	color: #fff;
	width: 100%;
	position: absolute;
	bottom: 0;
	font-weight: 50;
}
/*.container {
	height: 100%;
	width: 100%;

}*/

@media screen and (max-width: 480px) {
    #txt {
     position: absolute; 
    width: 100%;  
    text-align: center;
	font-family: sans-serif;
	font-size: 70px;
	color: #ffffff;
	top: 40%;
    }
}
